@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');
/*
selector {
    property: value;
    another-property: value;
*/

:root {font-family: 'Bebas Neue', cursive;
}

p {font-family: 'PT Sans', sans-serif;
}

p {
    color:  #717474;
}
img {
    width: 20%;
    display: block;
}

h2 {
    color: #222323;
}

span {
    color: #f40106!important;;
}

* {
    margin: 40;
    padding: 25;
    box-sizing: border-box;
}
